$breakpoint-xs: 24em;
$breakpoint-sm: 38em;
$breakpoint-md: 52em;
$breakpoint-lg: 72em;

$lines-width: 2px;
$box-border-width: 2px;

$lines-width-print: 3mm;
$box-border-width-print: .75mm;

$white: #ffffff;
$light-gray: #d3d3d3;
$medium-light-gray: #a9a9a9;
$medium-gray: #808080;
$medium-dark-gray: #696969;
$dark-gray: #505050;
$black: #000000;