@import '../../styles/variables.scss';

.container {
  width: 90%;
  min-width: 18em;
  margin: 20px auto;
  @media print {
    width: 100%;
  }
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  @media print {
    font-size: 8.5mm;
  }
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  @media print {
    font-size: 6mm;
  }
}

.rounds {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.category {
  font-size: 1.2rem;
  font-weight: 700;
  color: $medium-gray;
  text-align: center;
  margin-bottom: 2em;
  @media print {
    font-size: 5mm;
  }
}

.content {
  display: flex;
  & .team:first-child {
    width: 50%;
    order: 0;
    text-align: right;

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      align-items: flex-end;
    }
  }

  & .team:last-child {
    width: 50%;
    order: 2;
    text-align: left;

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      align-items: flex-start;
    }
  }
}
