
.container {
  width: 90%;
  min-width: 18em;
  margin: 20px auto;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
   margin-bottom: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}